.has-fade {
  visibility: hidden;
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  // name duration timing-function direction
  animation: fade-in 300ms ease-in-out forwards;
  // forwards  - ensure that the animation will stay
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  // name duration timing-function direction
  animation: fade-out 300ms ease-in-out forwards;
  // forwards  - ensure that the animation will stay
}
